<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="popup">
        <div class="popup_box">
            <div class="food_info">
                <div class="img_area">
                    <!-- <img src="" alt=""> 배경이미지 쓸경우 삭제 -->
                </div>
                <div class="dish_info_box">
                    <div class="dish_name">
                        <p>메뉴이름</p>
                        <input type="text">
                    </div>
                    <div class="dish_price">
                        <p>메뉴가격</p>
                        <input type="text">
                    </div>
                    <div class="dish_desc">
                        <p>메뉴설명</p>
                        <input type="text">
                    </div>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <td>필수옵션</td>
                        <td>옵션블록이름</td>
                        <td>옵션선택가능개수</td>
                        <td>옵션선택지</td>
                        <td>옵션 추가 가격</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <input type="text" placeholder="옵션블록이름">
                        </td>
                        <td>
                            <input type="text" placeholder="개수">
                        </td>
                        <td>
                            <input type="text" placeholder="옵션선택지">
                        </td>
                        <td>
                            <input type="text" placeholder="1000">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button>X</button>
            <button>등록</button>
        </div>
    </div>
</body>
</html>