.img_popup_area {display:none; width: 800px;height: 200px;border: 1px solid black;}

.img_edit {width: 100%; height: 200px;}
.img_list {width: inherit; overflow: hidden;}
.restaurant_img {
    width: 100px; height: 150px; background-position: center; background-size: 100%;
    display: inline-block; background-repeat: no-repeat;
    position: relative;
}
.img_box { display: inline-block;}

.restaurant_img button:nth-child(2) {
    float: right;
}

.restaurant_img button:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.restaurant_img:hover button:nth-child(1) {
    opacity: 1;
}
/* #browse {
    position: relative;
} */

.name{display: inline-block;}
.img_popup_title{display: inline-block;}
